<<<<<<< HEAD:portfolio-1/hw1/style.css
#myGraph_hw1{
    width: 600px;
    height: 400px;
    border: 1px solid rgb(132, 129, 219);
=======
#myGraph_hw1{
    width: 600px;
    height: 400px;
    border: 1px solid rgb(132, 129, 219);
>>>>>>> d9bccbec8b7babdff5118032fb78cce9112acad7:portfolio/portfolio-1/hw1/style.css
    }